<div id="item-0-0">
    <div id="item-0-0-0" class="column">
        <div class="portlet">
            <div class="portlet-header">@@@item-0-0-0@@@</div>
            <div class="portlet-content"></div>
        </div>
    </div>
    <div id="item-0-0-1" class="column">
        <div class="portlet">
            <div class="portlet-header">@@@item-0-0-1@@@</div>
            <div class="portlet-content"></div>
        </div>
    </div>
</div>
